<div class="container">

<div class="row">
  <div class="col-8 ">
    <h3 class="text-center mt-3 ">របាយការណ៍ការមកសួរសុខទុក្ខ</h3>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-primary float-right mr-4 mt-4"  data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo">បង្កើតថ្មី</button>
  </div>
</div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">ល.រ</th>
      <th scope="col">កាលបរិច្ឆេទ</th>
      <th scope="col">ឈ្មោះអ្នកមកសួរសុខទុក្ខ</th>
      <th scope="col">លេខទូរសព្ទ័</th>
      <th scope="col">ទំនាក់ទំនងជា</th>
      <th scope="col">ម៉ោងចូល</th>
      <th scope="col">ម៉ោងចេញ</th>
      <th scope="col">ផ្សេងៗ</th>
      <th scope="col">សកម្មភាព</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1/4/2022</td>
      <td>example1</td>
      <td>example2</td>
      <td>example1</td>
      <td>example1</td>
      <td>example2</td>
      <td>example2</td>
      <td class="">
        <button type="button" class="btn btn-success ">កែប្រែ</button>
        <button type="button" class="btn btn-danger ml-2">លុប</button>
      </td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2/5/2021</td>
      <td>example2</td>
      <td>example2</td>
      <td>example2</td>
      <td>example2</td>
      <td>example2</td>
      <td>example2</td>
      <td class="">
        <button type="button" class="btn btn-success ">កែប្រែ</button>
        <button type="button" class="btn btn-danger ml-2">លុប</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>

