<ng-template #customLoadingTemplate>
  <div class="custom-class">
    <!--    <h3>Loading...</h3>-->

  </div>
</ng-template>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
  [template]="customLoadingTemplate"
></ngx-loading>

<div class="row mt-3">
  <div class="col-md-6 ">
    <h3 class="text-center float-start">របាយការណ៍ការមកសួរសុខទុក្ខ</h3>
  </div>
  <div class="col-md-6 ">
    <h3 class="text-center">
<!--      <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">បង្កើតថ្មី</button>-->
    </h3>
  </div>
  </div>



<div class="row">
  <div class="col-md-3">
    <div class="search">
      <input class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2"
             type="text"
             [(ngModel)]="term"

             placeholder="Search"
      />
    </div>
  </div>
</div>


  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ឈ្មោះ</th>
      <th scope="col">ភេទ</th>
      <th scope="col">ថ្ងៃខែឆ្នាំកំណើត</th>
      <th scope="col">អត្តសញ្ញាត្តិបណ្ឌលេខ</th>
      <th scope="col">លេខទួរសព្ទ</th>
      <th scope="col">អាស័យដ្ឋាន</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students | filter: term; let i = index" >
      <th scope="row">{{i + 1}}</th>
      <td><a [routerLink]="['/admin/greetings-details',student.id]" >{{student?.fullname}}</a></td>
      <td>{{student?.sex}}</td>
      <td>{{student?.dob}}</td>
      <td>{{student?.id_number}}</td>
      <td>{{student.phone}}</td>
      <td class="truncate" >{{student?.address}}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteStudent(student.id)">Delete</button>
      </td>

    </tr>

    </tbody>
  </table>


  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >បំពេញរបាយការណ៍</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">កាលបរិច្ឆេទ</label>
              <input type="date" class="form-control">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">ឈ្មោះសិស្ស</label>
              <input type="value" class="form-control" >
            </div>
            <div class="form-group">
              <label  class="col-form-label">ការពីពណ៍នាជម្ងឺ</label>
              <textarea class="form-control" ></textarea>
            </div>
            <div class="form-group">
              <label  class="col-form-label">ពេទ្យណា</label>
              <textarea class="form-control" ></textarea>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">អ្នកជូនទៅ</label>
                  <input type="value" class="form-control" >
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">អ្នកចំណាយ</label>
                  <input type="value" class="form-control" >
                </div>
              </div>

            </div>
            <div class="form-group">
              <label  class="col-form-label">ផ្សេងៗ</label>
              <textarea class="form-control" ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">បិទ</button>
          <button type="button" class="btn btn-primary">រក្សាទុក</button>
        </div>
      </div>
    </div>
  </div>



