<div class="container " >
  <div class="mt-4" style="text-decoration-line: underline">
    <h4 >ផែនការមួយទល់នឹងមួយ</h4>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <form>
        <label >ឈ្មោះអតិថិជន</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="ឈ្មោះ">
      </form>
    </div>
    <div class="col-4">
      <form>
        <label >កាលបរិច្ឆេទ</label>
        <input type="date" class="form-control"  aria-describedby="emailHelp" placeholder="កាលបរិច្ឆេទ">
      </form>
    </div>
    <div class="col-4">
      <form>
        <label >កាលបរិច្ឆេទរំលឹកឡើងវិញ</label>
        <input type="date" class="form-control"  aria-describedby="emailHelp" placeholder="កាលបរិច្ឆេទ">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <form class="mt-2">
        <label class="">រួមមានគ្រួសាររបស់សិស្ស</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </form>
    </div>
    <div class="col-6">
      <form class="mt-2">
        <label class="">ការរំលឹកឡើងវិញ</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <form class="mt-2">
        <label class="">និមិត្តរបស់សិស្ស</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </form>
    </div>
    <div class="col-6">
      <form class="mt-2">
        <label class="">ការរំលឹកឡើងវិញ</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </form>
    </div>
  </div>
  <form class="mt-2">
    <label class="">តម្រូវការផែនការសកម្មភាព</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <div class="row">
    <div class="col-6">
      <form class="mt-2">
        <label class="">ការសួរសុខទុក្ខគ្រួសារ</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </form>
    </div>
    <div class="col-6">
      <form class="mt-2">
        <label class="">ការរំលឹកឡើងវិញ</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <form class="mt-2">
        <label class="">ការធ្វើសមាហរណ៍កម្មបញ្ចុនសិស្សទៅកន្លែងដើមវិញ</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </form>
    </div>
    <div class="col-6">
      <form class="mt-2">
        <label class="">ការរំលឹកឡើងវិញ</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </form>
    </div>
  </div>
  <form class="mt-2">
    <label class="">តម្រូវការផែនការសកម្មភាព</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <div class="mt-4 text-right">
    <button type="button" class="btn btn-primary">រក្សាទុក</button>
  </div>
</div>
