<div class="container">
  <div class="mt-4" style="text-decoration-line: underline">
    <h4 >Follow-up interview</h4>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <form>
        <label >ឈ្មោះអតិថិជន</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="ឈ្មោះ">
      </form>
    </div>
    <div class="col-6">
      <form>
        <label >កាលបរិច្ឆេទ</label>
        <input type="date" class="form-control"  aria-describedby="emailHelp" placeholder="កាលបរិច្ឆេទ">
      </form>
    </div>
  </div>
  <form class="mt-2">
    <label class="">អ្នកកាន់ករណី</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <form class="mt-2">
    <label class="">អ្នកចូលរួម</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <form class="mt-2">
    <label class="">ទីកន្លែង</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <form class="mt-2">
    <label class=""  style="text-decoration-line: underline">១.ផែនការ</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <form class="mt-2">
    <label class=""  style="text-decoration-line: underline">២.បញ្ហាដែលជួបប្រទះ</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <form class="mt-2">
    <label class=""  style="text-decoration-line: underline">៣.ព័ត៌មានដែលសំខាន់ និងបញ្ហាថ្មីៗ</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <form class="mt-2">
    <label class=""  style="text-decoration-line: underline">៤.ការធ្វើអន្តរាគមន៍</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <form class="mt-2">
    <label class=""  style="text-decoration-line: underline">៥.ការប៉ានប្រមាណ</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <form class="mt-2">
    <label class=""  style="text-decoration-line: underline">៦.ផែនការសកម្មភាពបន្ត</label>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </form>
  <div class="mt-4 text-right">
    <button type="button" class="btn btn-primary">រក្សាទុក</button>
  </div>
</div>
