<!--<div class="row mt-4 mb-4">-->
<!--  <div class="col-6 ">-->
<!--    <h3 class="text-center  float-start">របាយការណ៍សុខភាព</h3>-->
<!--  </div>-->
<!--  <div class="col-6">-->
<!--    <a  [routerLink]="['/admin/interview-upsert']"  type="button" class="btn btn-primary float-end"  data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo">បង្កើតថ្មី</a>-->
<!--  </div>-->
<!--</div>-->


<ng-template #customLoadingTemplate>
  <div class="custom-class">
    <!--    <h3>Loading...</h3>-->

  </div>
</ng-template>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
  [template]="customLoadingTemplate"
></ngx-loading>
<div class="row p-2">
  <div class="col-md-6">
    <h3>បញ្ជីឈ្មោះសិស្ស</h3>
  </div>
  <div class="col-md-6">
    <a  [routerLink]="['/admin/interview-upsert']"  type="button" class="btn btn-primary float-end"  data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo">បង្កើតថ្មី</a>

  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">ឈ្មោះអតិថិជន</th>
    <th scope="col">អ្នកចូលរួម</th>
    <th scope="col">អ្នកកាន់ករណី</th>
    <th scope="col">ទីកន្លែង</th>
    <th scope="col">ផែនការ</th>
    <th scope="col">ព័ត៌មានដែលសំខាន់ និងបញ្ហាថ្មីៗ</th>
    <th scope="col">ការប៉ានប្រមាណ</th>
    <th scope="col">ផែនការសកម្មភាពបន្ត</th>
<!--    <th scope="col">Actions</th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students; let i = index" >
    <th scope="row">{{i + 1}}</th>
    <td><a [routerLink]="['/admin/interview-details',student.id]" >{{student?.customer_name}}</a></td>
    <td>{{student?.holder_name}}</td>
    <td>{{student?.joiner_name}}</td>
    <td>{{student?.place}}</td>
    <td>{{student.plan}}</td>
    <td>{{student.desc_problem}}</td>
    <td>{{student.intervention}}</td>
    <td>{{student.continuing_plan}}</td>
<!--    <td>-->
<!--      <button class="btn btn-danger btn-sm" (click)="deleteStudent(student.id)">Delete</button>-->
<!--    </td>-->

  </tr>

  </tbody>
</table>

