
<div class="row bg-info p-2">
  <div class="col-md-6">
    <h3>របាយការណ៍សុខភាព</h3>
  </div>
  <div class="col-md-6">
    <button  class="btn btn-sm btn-primary float-end align-middle">Create</button>
  </div>
</div>


<div class="container-md mt-3">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">ល.រ</th>

      <th scope="col">ឈ្មោះសិស្ស</th>
      <th scope="col">ការពីពណ៍នាជម្ងឺ</th>
      <th scope="col">ពេទ្យណា</th>
      <th scope="col">អ្នកជូនទៅ</th>
      <th scope="col">អ្នកចំណាយ</th>
      <th scope="col">ផ្សេងៗ</th>
      <th scope="col">កាលបរិច្ឆេទ</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students;let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{studentObj.fullname}}</td>
      <td>{{student?.health_desc}}</td>
      <td>{{student?.doctor_name}}</td>
      <td>{{student?.payer_name}}</td>
      <td>{{student?.bring_nane}}</td>
      <td>{{student?.updated_at | date }}</td>
      <td class="">
        <button type="button" class="btn btn-success ">កែប្រែ</button>
        <button (click)="delete(student.id)" type="button" class="btn btn-danger ml-2">លុប</button>
      </td>

    </tr>

    </tbody>
  </table>
</div>
