<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img style="width: 100%;height: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJi61SzyV68tBWrCG1QqbgxNAjcSal6vqvyQ&usqp=CAU" alt="">
        </div>
        <div class="col-md-6 mt-2">
            <div class="row g-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Full-Name" aria-label="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Phone Number" aria-label="Last name">
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                    <textarea class="form-control" name="message" id="" cols="30" rows="10" placeholder="message"></textarea>
                </div>
               
              </div>
              <div class="row">
                  <div class="col">
                      <button class="btn btn-block w-100 btn-primary mt-2">Submit</button>
                  </div>
              </div>
        </div>
    </div>
</div>