*{
  font-family: 'Battambang';
}

app-print-receipt {
  /* hide the printing component from @media screen */
  display: none;
}

@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */

  app-print-receipt {
    display: block;
  }

  app-sidebar {
    display: none;
  }
  button{
    display: none;

  }


  .payment-table{
    display: none;
  }
}
@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}
