h2{
    margin-top: 20px;
    font-family: 'Battambang';
    font-size: 40px;
  }
  h5{
    font-family: 'Battambang';
  }
  .font-weight-bold{
    font-family: 'Battambang';
  }
  .text-right button{
    font-family: "Battambang";
  }
  .form-control{
    font-family: 'Battambang';
  }
  .col-6{
    font-family: 'Battambang';
  }
  .col-3{
    font-family: 'Battambang';
  }
  .col-2{
    font-family: 'Battambang';
  }
  .row{
    font-family: 'Battambang';
  }
  .mt-2{
    font-family: 'Battambang';
  }
  .custom-control{
    font-family: 'Battambang';
  }
  label{
    font-family: 'Battambang';
  }
  .mt-4{
    font-family: 'Battambang';
  }
  .form-group .col-form-label{
    font-family: 'Battambang';
  }
  .container-md .table{
    font-family: 'Battambang';
  }
  .col-4{
    font-family: 'Battambang';
  }
  .mt-2{
    font-family: 'Battambang';
  }
  text-right .button{
    font-family: 'Battambang';
  }
  
  