<app-navbar></app-navbar>
      <!-- image header -->
      <div class="row">
        <div class="col-md-12 ">
            <img class="w-100 img-size position-relative" src="https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_retina/public/Programmer%20writing%20code%20looking%20at%20monitors.jpg?itok=KxjIPmaP" alt="">
           
            <div class="position-absolute  bottom-50 end-50 p-5">
                <h1 class="text-white ">
                    I'm A full-stack developer
                    
                </h1>
                <h6 class="text-white ">
                    I'm a full-stack developer I've experiance across Back-end and front end 5years and build a small team to develop Mobile App and Web App 
                    and I'm also a youtube creator
                </h6>
            </div>
           
          
        </div>

     
    </div>